@import url("https://use.typekit.net/jmk3xov.css");

canvas {
  position: fixed;
  top: 0;
  left: 0;
}


:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}


main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
  font-family: Georgia, serif;
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}



  header {
    background: var(--dark-bg);
    grid-column: 2;
    font-size: 5rem;
    padding: 0.5rem;
    text-align: center;
    margin-bottom: var(--spacing);
  }

  section {
    grid-column: 2 / 8;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

  blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
  }

  blockquote p {
    color: black;
    background-color: white;
    font-size: 4rem;
    display: inline;
    line-height: 1;
  }

  .left {
    grid-column: 6 / 12;
  }

  .text-effect {
    overflow: hidden;
    position: relative;
    filter: contrast(110%) brightness(190%);
}
.neon {
    position: relative;
    background: black;
    color: transparent;
}
.neon::before, .neon::after {
    content: attr(data-text);
    color: white;
    filter: blur(0.01em);
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}
.neon::after {
    mix-blend-mode: difference;
}
.gradient, .spotlight {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
}
.gradient {
   background: linear-gradient(45deg, #aee7ee, #1ec6db);
   mix-blend-mode: multiply;
}
.spotlight {
    animation: light 5s infinite linear;
    background: radial-gradient(circle, white, transparent 25%) 0 0 / 25% 25%, radial-gradient(circle, white, black 25%) 50% 50% / 12.5% 12.5%;
    top: -100%;
    left: -100%;
    mix-blend-mode: color-dodge;
}
@keyframes light {
    100% {
        transform: translate3d(50%, 50%, 0);
   }
}
.neon {
   text-transform: uppercase;
   text-align: center;
   margin: 0;
   font-size: 140px;
}



